@media (max-width: 1200px) {
  .navbar-nav li {
    float: none;
    display: inline-block;
  }
  .navbar-nav li:not(:last-child) {
    margin-right: 3px;
  }
  #secondMenu .navbar-nav li:not(:last-child) {
    margin-right: 16px;
  }
  .circle {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .leftTopText,
  .leftBottomText {
    margin-right: 40px;
  }
  .rightTopText,
  .rightBottomText {
    margin-left: 40px;
  }
  .leftBottomText,
  .rightBottomText {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  #logotip {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .textBlock {
    position: static;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  .textBlock:not(:first) {
    margin-top: 30px;
  }

}