@media (max-width: 1200px) {
   
}

@media (max-width: 991px) {
    header.logo{
        text-align: center;
    }
    .info{
        i{
            display: inline-block;
        }
        p{
            display: inline-block;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
  
   
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {

}

// @media (max-width: 420px) {

// }
