$fontMain: 'Open Sans', sans-serif;
$fontSlogan: 'Marck Script', cursive;

.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: none;
    }
}
body {
    font-family: $fontMain;
}
.logo{
    padding: 20px 0;
}

header{
    margin-bottom: 30px;
    background-color: rgb(20, 119, 201);
}
.info{
    padding: 20px 0;
    div:not(:last-of-type){
        margin-bottom: 10px;
    }
    i{
        margin-right: 5px;
        color: #fff;
        display: inline-block;
    }
    p{
        font-size: 16px;
        color: #fff;
        margin: 0;
        display: inline-block;

        a{
            color: #fff;
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
}
.slogan{
    h1,p{
        font-family: $fontSlogan;
        color: #fff;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: 20px;
    }
}

table tbody{
    text-align: center;
}
section#gallery{
    margin-bottom: 40px;
}
.headText{
    padding: 30px 0;
}
.gallery{
    img{
        margin-bottom: 20px;
    }    
}

.table-bordered td, .table-bordered th {
    border: 1px solid #343A40;
}
footer{
    background-color: rgb(20, 119, 201);
    padding: 20px 0;
    margin-top: 40px;
        p{
            color: #fff;
        }
        h3{
            color: #fff;
        }
}
